<div class="col-md-12">
    <h1>Agregar Estudiante</h1>
    <h3>Rut: </h3>
    <input type="text" ng-model="newStudent.rut">
</div>
<div class="col-md-12">
    <h3>Nombre: </h3>
    <input type="text" ng-model="newStudent.name">
</div>
<div class="col-md-12">
    <h3>Correo electronico: </h3>
    <input type="text" ng-model="newStudent.email">
</div>
<div class="col-md-12">
    <h3>Carrera: </h3>
    <input type="text" ng-model="newStudent.career">
</div>
<div class="col-md-12">
    <h3>Fecha de ingreso: </h3>
    <input type="text" ng-model="newStudent.entry">
</div>
<div class="col-md-12">
    <input ng-click="send()" type="button" value="Ingresar Estudiante">
</div>  